/* You can add global styles to this file, and also import other style files */
:root {
    --font-primary: 'Montserrat';
    --color-off-white: #F7F7F7;
    --color-white: #fff;
    --color-black: #000;
    --color-black-opacity-18: #00000018;
    --color-primary: #B09E80;
    --color-primary-opacity-60: #B09E8060;
    --text-color: #3A3A3A;
    --text-color-opacity-50: #3A3A3A50;
    --text-color-opacity-60: #3A3A3A60;
    --color-red: #D80808;
}