* {
  font-family: var(--font-primary);
  color: var(--text-color);
}

.Product-Promo {
  max-width: 40vw;
  display: grid;
  grid-template-columns: 700px;
  grid-template-rows: 1fr;
  .Background-Box {
    margin-right: 15vw;
    margin-bottom: 100px;
    max-height: 455px;
    padding: 40px;
    grid-column: 1/2;
    grid-row: 1/2;
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
    h4 {
      font-weight: 700;
      // font-size: 55px;
      font-size: 3vw;
      line-height: 67px;
      margin-top: 100px;
      margin-bottom: 70px;
    }
    button {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      outline: none;
      border: none;
      background: none;
      text-decoration-line: underline;
      cursor: pointer;
      svg {
        path {
          fill: var(--text-color);
        }
      }
    }
  }
  img {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 22vw;
    margin-top: 90px;
  }
}

@media screen and (min-width: 1441px) {
  .Product-Promo {
    .Background-Box {
      margin-right: 125px;
    }
    img {
      margin-left: 390px;
    }
  }
}
